.rincian-tukar-poin-container {
  width: 100vw;
  height: 100vh;

  background-color: #60BA62;
}

.tombol-kembali {
  text-decoration: none;
  color: white;

  position: absolute;
  left: 23px;
  top: 27px;

  margin: 0px;
}

.header-rincian-tukar-poin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-rincian-tukar-poin > p {
  color: white;
}

.judul-fitur {
  font-size: 17px;
  font-weight: 500;

  margin-top: 27px;
  margin-bottom: 0px;
}

.deskripsi-fitur {
  font-size: 13px;

  margin-top: 8px;
}

.fitur-rincian-tukar-poin-container {
  position: absolute;
  top: 90px;
  bottom: 0px;

  padding-top: 30px;

  width: 100vw;

  background-color: #F9F9F9;

  border-top-left-radius: 39px;
  border-top-right-radius: 39px;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;
}

.informasi-penukaran-poin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25px auto auto auto auto auto;
  gap: 8px;

  width: 314px;
  padding: 20px 0px;

  color: white;
  background-color: #60BA62;

  border-radius: 30px;

  margin-bottom: 16px;
}

.informasi-data-penukar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 25px auto auto auto auto;
  gap: 8px;

  width: 314px;
  padding: 20px 0px;

  color: white;
  background-color: #60BA62;

  border-radius: 30px;

  margin-bottom: 16px;
}

.judul-informasi {
  margin: 0px;
  margin-left: 25px;

  grid-column: span 2;

  font-size: 17px;
  font-weight: 500;
}

.informasi-subject {
  margin: 0px;
  margin-left: 25px;

  font-size: 13px;
  font-weight: 500;
}

.informasi-isi {
  margin: 0px;
  margin-right: 25px;

  justify-self: end;

  font-size: 13px;
  font-weight: 300;
}

.informasi-subject-alamat {
  grid-column: span 2;

  margin: 0px;
  margin-left: 25px;

  font-size: 13px;
  font-weight: 500;
}

.informasi-isi-alamat {
  grid-column: span 2;

  margin: 0px;
  margin-left: 25px;

  font-size: 13px;
  font-weight: 300;
}

.inside-shadow-tukar-poin {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
  height: 60px;

  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #DDDDDD 100%);
}