.profil-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.foto-profil-beranda {
  width: 41px;
  height: 41px;
  border-radius: 17px;
  margin: 18px 0;
  margin-left: 23px;
}

.profil-container div {
  margin-left:12px;
}

.sapaan-user-beranda {
  margin-bottom: 5px;
  font-size: 13px;
  color: #CBFFCC;
}

.nama-user-beranda {
  margin-top: 0px;
  font-size: 13px;
  font-weight: 500;
  color: #FFFFFF;
}

.poin-container {
  display:flex;
  flex-direction: column;
  justify-content: center;

  height: 93px;
  width: 87,5vw;
  background-color: #FFFFFF;
  border-radius: 35px;
  margin: 0 23px;
  padding-left: 32px;
  overflow: hidden;

  position: relative;
}

.poin-judul{
  margin: 0px;
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 700;
}

.poin-jumlah{
  margin:0px;
  font-size: 18px;
  font-weight: 500;
}

.gambar-ilustrasi-poin {
  width: 135px;
  position: absolute;
  right: -20px;
}