.profil-petugas-container {
    background-color: #60BA62;
    width: 100vw;
    height: 100vh;

    position: absolute;
}

.header-profil-petugas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Sagoe UI;
    color: aliceblue;
}

.fitur-profil-petugas-container {
    position: absolute;
  top: 70px;
  bottom: 0px;

  width: 100vw;

  background-color: #F9F9F9;

    border-top-left-radius: 39px;
  border-top-right-radius: 39px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.judul-fitur-petugas {
    font-size: 17px;
    font-weight: 500;
  
    margin-top: 27px;
    margin-bottom: 0px;
  }

.gambar-profile-petugas{
  width: 73px;
  border-radius: 37px;  
  margin-top: 41px;

  font-size: 13px;
  font-weight: 500;
}


.tombol-keluar-akun-petugas {
    position: absolute;
    bottom: 45px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: #60BA62;
    border: white 3px solid;
    padding: 12px 20px;
}

.tombol-kembali-profil-petugas {
    
    text-decoration: none;
  color: white;

  position: absolute;
  left: 23px;
  top: 13px;

  margin: 0px;

    
}


.halo-petugas{
    
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 41px;
    font-size: 17px;
}

.info-profil-petugas-container{

    width: 85vw; 
    border: 1px solid #999;
    border-radius: 18px;
    margin-bottom: 50px;
    background-color: #60BA62;

}

.nama-petugas{
    color: white;
    margin-left: 15px;
    margin-bottom: 15px;

}

.nomor-telepon-petugas{
  color: white;
  margin-left: 15px;

}

.email-petugas{
  color: white;
    margin-left: 15px;
    margin-bottom: 15px;
}