.icon-navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-navbar-container p {
  font-size: 11px;
}

.navbar-petugas-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: absolute;
  bottom: 0px;
  

  background-color: #FFFFFF;
  width: 100vw;
  height: 80px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.15);
}

.icon-navbar-nama-penukaran-anda {
  margin-left: 50px;
  text-align: center;
  width: 50px;
  margin-bottom: 7px;
}

.icon-navbar-nama-notifikasi-penukaran {
  text-align: center;
  width: 50px;
  margin-bottom: 7px;
}

.icon-navbar-nama-bahan-makanan {
  margin-right: 50px;
  text-align: center;
  width: 50px;
  margin-bottom: 7px;
}

.icon-navbar-penukaran-anda {
  margin-top: 13px;
  margin-left: 50px;
  font-size: 19px;
}

.icon-navbar-notifikasi-penukaran {
  margin-top: 13px;
  font-size: 25px;
}

.icon-navbar-bahan-makanan {
  margin-top: 13px;
  margin-right: 50px;
  font-size: 25px;
}


.icon-navbar-container.active >  p {
  color: #60BA62;
  font-weight: 700;
}

.icon-navbar-container.active >  svg {
  color: #60BA62
}